/CarmenStitchAndPressReact.Server/Properties/PublishProfiles/csptailoring-001-subsite2 - Web Deploy.pubxml
/CarmenStitchAndPressReact.Server/appsettings.json
.vs/
.vs/
.vs/
bin/
obj/
CarmenStitchAndPressReact.Server/Properties/PublishProfiles
CarmenStitchAndPressReact.Server/Properties/PublishProfiles
CarmenStitchAndPressReact.Server/appsettings.json
